.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(233, 190, 190);
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #07080c;
}
.image{
    width: 50%;
    height: 300px;
}
.main-head{
    font-size: 35px;
    font-family: "Roboto";
    color:white;
}
.main-para{
    margin-top: 20px;
    font-size: 20px;
    font-family: "Roboto";
    color:white;
}
.brake-button{
    width: 120px;
    height: 40px;
    font-size: 20px;
    color: white;
    padding: 5px;
    border-radius: 16px;
    background: transparent;
    border: 1px solid white;
    margin-left: 20px;
}
.accelerate-button{
    width: 120px;
    height: 40px;
    font-size: 20px;
    padding: 5px;
    border-radius: 16px;
    background: rgb(55, 177, 233);
    border: 0 solid;
}
span{
    color: rgb(181, 39, 225);
    font-size: 38px;
}
@media screen and (max-width:468px){
    .main-head{
        font-size: 20px;
    }
    .main-para{
        font-size: 16px;
    }
    .accelerate-button{
        width: 80px;
        font-size: 16px;
        padding: 2px;
        height: 30px;
    }
    .brake-button{
        width: 120px;
        font-size: 16px;
        padding: 2px;
        height: 30px;
    }
    span{
        font-size: 20px;
    }
}
